/* Smart Phone  */
@media screen and (max-width: 500px) {


    .btn-blue {
        display: none;
    }

    .icon-burger {
        display: block;
        cursor: pointer;
    }

    nav .links {
        display: flex;
    }

    /* nav .links a {
        justify-content: center;
    } */


    nav .links {

        position: fixed;
        z-index: 9;
        top: 100px;
        left: 0;
        right: 0;
        /* bottom: 0; */
        flex-direction: column;
        background: rgba(0, 0, 0, 8);
        overflow: hidden;
        display: none;
        transition: all 0.5s ease-in-out;

    }


    nav .links a {
        display: block;
        text-align: center;
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 20px;
        color: #fff;
        /* z-index: 9; */
    }



    #nav-toggle:checked~.links {
        display: block;

    }

    #nav-toggle:checked~.icon-burger>div:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    #nav-toggle:checked~.icon-burger>div:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    #nav-toggle:checked~.icon-burger>div:nth-child(2) {
        opacity: 0;
    }
}

/* Tablet & Smaller */
@media screen and (max-width: 800px) {


    nav {
        display: flex;
        flex-direction: column;
    }



    .btn-blue {
        display: none;
    }
}

/* Ipad pro */
@media screen and (max-width: 1024px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .btn-blue {
        display: none;
    }

}